.MediumSpringGreen {
    background-color: MediumSpringGreen;
}

.MediumSlateBlue {
    background-color: MediumSlateBlue;
}

.PaleTurquoise {
    background-color: PaleTurquoise;
}

.bg-gray {
    background-color: #262626;

}